<div id="fullDetails">

  <div id="animeDetails">
    <div id="imgbtn">
      <img src="{{anime.attributes.posterImage.medium}}" alt="" />
      <form action="/add-favorite" method="POST">

        <input
          type="hidden"
          name="title"
          value="{{anime.attributes.titles.en_jp}}"
        />
        <input
          type="hidden"
          name="jpTitle"
          value="{{anime.attributes.titles.ja_jp}}"
        />
        <input
          type="hidden"
          name="image"
          value="{{anime.attributes.posterImage.medium}}"
        />
        <input
          type="hidden"
          name="status"
          value="{{anime.attributes.status}}"
        />
        <input
          type="hidden"
          name="score"
          value="{{anime.attributes.averageRating}}"
        />
        <input type="hidden" name="apiId" value="{{anime.id}}" />

        <button type="submit">Add to Favorites</button>
      </form>
    </div>
    <div class="description">
      <div class="titles">
        <h1>{{anime.attributes.titles.en_jp}}</h1>
        <h3>{{anime.attributes.titles.ja_jp}}</h3>
      </div>
      <p><b>Start date:</b>{{anime.attributes.startDate}}</p>
      <p><b>End date:</b>{{anime.attributes.endDate}}</p>
      <p><b>Status:</b>{{anime.attributes.status}}</p>
      <p><b>Description:</b>{{anime.attributes.synopsis}}</p>
      <iframe
        width="420"
        height="315"
        src="https://www.youtube.com/embed/{{anime.attributes.youtubeVideoId}}"
      ></iframe>
    </div>
  </div>
</div>