<div id="episodesView">
  <div>
    <h1>Episodes</h1>
  </div>

  <p>{{user.watchedEpisodes.episdodeApiId}}</p>
  <p>{{user.watchedEpisodes.checked}}</p>

  {{#each episode}}
    <div id="episodes">
      <div>
        <p>{{attributes.number}}---{{attributes.titles.en_jp}}</p>
      </div>
      <label>
        {{#if ../isPaginationTrue}}
          <input type="checkbox" class="watchedEpisode" name="episodeApiId" value="{{id}}" checked />
        {{else}}
          <input type="checkbox" class="watchedEpisode" name="episodeApiId" value="{{id}}" />
        {{/if}}

        Watched</label>
    </div>
  {{/each}}
  <div id="epButtons">

    {{#if isPrevious}}
      <form  action="/episodes/{{animeId}}/{{paginationPrevious}}" method="get">
        <button class="previous" type="submit">Previous Page</button>
      </form>
    {{/if}}

     {{#if isNext}}
      <form  action="/episodes/{{animeId}}/{{paginationNext}}" method="get">
        <button class="next" type="submit">Next Page</button>
      </form>
      
    {{/if}} 
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../../public/js/episodesHandler.js"></script>
<script src="/js/episodes-script.js"></script>

